# .dockerignore
.git

#   Usually built inside the container
node_modules 
#   Ignore all node_modules directories anywhere in the project
**/node_modules
npm-debug.log
*.log
.env*
.DS_Store

# web frontend ignore
apps/clarte-web/.next

# nest api ignore
apps/clarte-api/httpClient
#   Example build output might want to exclude
apps/clarte-api/dist 