@import 'tailwindcss';

@theme {
  --color-foreground: #0a0b0c;
  --color-background: #f9f8f6;
}

@layer base {
  .dark {
    --color-foreground: #f9f8f6; /* Example dark mode foreground */
    --color-background: #0a0b0c; /* Example darker background */
  }

  body {
    @apply bg-background text-foreground;
  }
}
